<style>
	body{
		background-image: url('../../static/polls/images/space.jpg')
	}
	body {
		padding-top: 200px;
	}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="" class="navbar-brand">
				<img src="../../static/polls/images/brand.png" alt="brand-logo">
			</a>
			<h4 class="navbar-text">
				<em style="color: steelblue;">User index page | User area </em>
			</h4>
		</div>
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="{% url 'login' %}"> Home </a>
			</li>
			<li class="divider"></li>
			<li class="divider"></li>
			<li style="float: right;">
				<a href="../account/logout">logout </a>
			</li>
		</ul>
	</div>
</nav>
<body>
	 {% load static %}
	<!-- <link rel="stylesheet" href="{% static 'polls/style.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="../../static/polls/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../static/polls/bootstrap.css"/>
	{% if latest_question_list %}
	<ul>
		{% for question in latest_question_list %}
		<li>
			<!-- <a href="/polls/{{ question.id}}/">{{question.question_text}}</a> -->
			<a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p> No polls are available </p>
	{% endif %}
</body>