{% block branding %}
<!-- <h1 id="site-name">
	<a href="{% url 'admin:index' %}">Polls Administration</a>
</h1> -->
<style>
	h1{
		text-align: center;
		padding-top: 20%;
		color: snow;
	}
	h3{
		text-align: center;
	}
	body{
		background-image: url('../../static/polls/images/space.jpg')
	}
	nav * {
		color: whitesmoke;
	}
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: steelblue;
}
/*
.arrow-down {
   position: absolute;
    bottom: 17%;
    left: 48.5%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    z-index: 99;
}*/
.arrow-down i {
    color: #de0f17;
    border: 1px dashed #fff;
    border-radius: 50%;
    font-size: 18px;
    width: 50px;
    height: 50px;
    text-align: center;
		line-height: 49px;
 		-webkit-animation: bounce 2s infinite ease-in-out;
}

</style>
	<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					{% comment %} <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> {% endcomment %}
					<a class="navbar-brand" href="#">
						<img src="../../static/polls/images/brand.png" alt="Brand" class="img-thumbnail img-responsive">
					</a>
					<p  class="navbar-text"><em style="color: steelblue;">A django based Mock Voting Application</em> </p>
				</div>
				 <ul class="nav navbar-nav">
        <li class="active">
					<a href="#">Overview <span class="sr-only">(current)</span></a>
				</li>
        <li><a href="#">What the App Does</a></li>
				<li><a href="#"></a></li>
				<li><a href="#" style="text-emphasis: bold;">REGISTER</a></li> 
				<li class="divider"></li>
				<li class="divider"></li>
				<li style="margin-top: 15px; margin-bottom: 15px;">
					<div class="form-group">
						<input type="text" class="form-control"  placeholder="Username">
					</div>
				</li>
				<li class="divider"></li>
				<li class="divider"></li>
				<li style="margin-top: 15px; margin-bottom: 15px;">
					<div class="form-group">
						<input type="text" class="form-control"  placeholder="Password">
					</div>
				</li>
					<button  style="margin-top: 15px; margin-bottom: 15px;"type="submit" class="btn btn-primary">Sign In</button>
			</div> 
	</nav>
<body>
	<h1 style=" color: snow; ">Welcome, This is a mock voting app</h1>
	<link rel="stylesheet" href="../../static/polls/style.css">
	<link rel="stylesheet" href="../../static/polls/bootstrap.css">
	<link rel="stylesheet" href="../../static/polls/font-awesome.css">
	<link rel="stylesheet" href="../../static/polls/animate.min.css"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<h3 class="arrow-down" id = "site-name" style="color: steelblue;"> Polls Administration | Get Started
		<br>
		<br>
		<br>
		<a href="../../polls">
			<i class="fa fa-long-arrow-down bounceInDown infinite"></i>
		</a>
	</h3>	
</body>
{% endblock %} 
